@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/IMG_7015.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}